/* Mise en page du portfolio */

.portfolio {
  margin-bottom: 2rem;
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: $primary-color;
  background-color: $secondary-color--darker;

  border: $border-width solid $primary-color--darker;
  border-radius: $border-radius;
}

.portfolio {
  flex-direction: column;
}

.portfolio__description,
.portfolio__image-container {
  flex-basis: 40%;
}

.portfolio__image-container img {
  max-width: 100%;

  margin-top: 1rem;
}
